/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.projects {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(255, 255, 255, 0.973)), to(rgba(255, 255, 255, 0.767))), url("../../assets/projects-background.svg");
  background: -o-linear-gradient(rgba(255, 255, 255, 0.973) 30%, rgba(255, 255, 255, 0.767)), url("../../assets/projects-background.svg");
  background: linear-gradient(rgba(255, 255, 255, 0.973) 30%, rgba(255, 255, 255, 0.767)), url("../../assets/projects-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}
.projects.dark {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(33, 33, 33, 0.973)), to(rgba(33, 33, 33, 0.767))), url("../../assets/projects-background.svg");
  background: -o-linear-gradient(rgba(33, 33, 33, 0.973) 30%, rgba(33, 33, 33, 0.767)), url("../../assets/projects-background.svg");
  background: linear-gradient(rgba(33, 33, 33, 0.973) 30%, rgba(33, 33, 33, 0.767)), url("../../assets/projects-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.projects .cards-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 70px;
}