@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

.title {
    h2 {
        text-align: center;
        font-size: 50px;
        color: $primary-color;
        font-weight: 500;
        padding: 64px 0;

        @include respond(md) {
            font-size: 37px;
        }

        &::after {
            content: '';
            display: block;
            width: 40%;
            height: 2px;
            background-color: $primary-color;
            margin: 20px auto;
            border-radius: 1px;
        }
    }

    &.white {
        h2 {
            color: $backgrund;

            &::after {
                background-color: $backgrund;
            }
        }

    }
}