/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.title h2 {
  text-align: center;
  font-size: 50px;
  color: rgb(123, 79, 255);
  font-weight: 500;
  padding: 64px 0;
}
@media (max-width: 768px) {
  .title h2 {
    font-size: 37px;
  }
}
.title h2::after {
  content: "";
  display: block;
  width: 40%;
  height: 2px;
  background-color: rgb(123, 79, 255);
  margin: 20px auto;
  border-radius: 1px;
}
.title.white h2 {
  color: white;
}
.title.white h2::after {
  background-color: white;
}