/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.about {
  position: relative;
  margin-bottom: 200px;
}
.about .background-patern {
  position: absolute;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 0px;
  top: 0px;
  opacity: 0.4;
}
.about p {
  font-size: 19px;
  text-align: center;
  padding: 40px 80px;
  line-height: 1.6;
  margin-bottom: 50px;
}
.about .tech-stacks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60px 1fr 60px 1fr 60px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  justify-items: center;
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .about .tech-stacks {
    gap: 35px;
  }
}
@media (max-width: 768px) {
  .about .tech-stacks {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.about .tech-stacks .tech-icons {
  width: 60px;
  height: 60px;
}