@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

.card {
    width: 37%;
    margin-bottom: 100px;
    background: linear-gradient(149deg, rgb(60, 9, 136) 0%, rgba(81, 62, 242, 1) 100%);
    color: $backgrund;
    border-radius: 12px;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.555);

    @include respond(lg) {
        width: 46%;
    }

    @include respond(md) {
        width: 90%;
    }


    .project-photo {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 12px;
        margin-bottom: 60px;
        border-bottom-right-radius: 150px;
        box-shadow: 0 5px 20px rgba(212, 210, 210, 0.205);
    }

    h3 {
        font-size: 35px;
        margin-bottom: 30px;
        padding: 0 30px;

        @include respond(md) {
            margin-bottom: 20px;
            font-size: 28px;
        }
    }

    p {
        font-size: 17px;
        margin-bottom: 50px;
        padding: 0 30px;
        line-height: 1.5;

        @include respond(md) {
            font-size: 16px;
        }

    }

    .tech-stacks {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        padding: 0 30px;


        span {
            padding: 10px 14px;
            border: solid 3px $backgrund;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 4px;
        }

    }

    .tech-stacks:last-child {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .buttons-holder {
        padding: 0 30px 30px 30px;

        svg {
            margin-right: 15px;
            transition: all 0.4s ease;


            &:hover {
                cursor: pointer;
                transform: scale(1.3); // optional zoom effect
                transition: all 0.4s ease;
            }
        }


    }
}