@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

.contacts {
    padding: 40px 0 100px 0;
    overflow: hidden;

    label {
        display: block;
    }

    .inputs-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;

        @include respond(md) {
            flex-direction: column;
        }

        .contacts-left {
            flex-basis: 43%;

            input {
                min-width: 100%;
                padding: 15px;
                outline: none;
                margin-top: 10px;
                box-shadow: 0 0 20px rgba(78, 66, 66, 0.384);
                font-size: 16px;

                @include respond(md) {
                    min-width: 60%;

                }
            }

            p {
                margin-top: 10px;
                color: red;
                font-size: 17px;
                height: 16px;
            }

        }

        .contacts-right {
            flex-basis: 45%;

            textarea {
                min-width: 90%;
                height: 161px;
                padding-top: 20px;
                padding-left: 20px;
                box-shadow: 0 0 20px rgba(78, 66, 66, 0.384);
                margin-top: 10px;
                font-size: 16px;
            }

            p {
                margin-top: 10px;
                color: red;
                font-size: 17px;
                height: 16px;
            }
        }
    }

    button {
        padding: 15px 80px;
        background-color: transparent;
        outline: none;
        border: solid 4px $backgrund;
        border-radius: 12px;
        color: white;
        font-size: 18px;
        margin-left: 50%;
        transform: translate(-50%);
        margin-top: 30px;
        box-shadow: 0 0 20px rgba(78, 66, 66, 0.384);
    }

    .name {
        margin-bottom: 20px;
    }

    .sucsess{
        display: block;
        width: 100%;
        height: 16px;
        color: green;
    }

}