@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

.contacts {
    padding: 40px 16px 55px 16px;
    overflow: hidden;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
    }

    label {
        display: block;
        font-size: 16px;
        margin-bottom: 6px;
        color: white;
    }

    .inputs-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        column-gap: 4%;

        @include respond(md) {
            flex-direction: column;
            gap: 30px;
        }

        .contacts-left,
        .contacts-right {
            flex: 1 1 48%;
            box-sizing: border-box;
        }

        .contacts-left {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .contacts-right {
            display: flex;
            flex-direction: column;
        }

        input,
        textarea {
            width: 100%;
            max-width: 100%;
            padding: 15px 20px;
            font-size: 16px;
            border: none;
            border-radius: 8px;
            outline: none;
            background-color: rgba(255, 255, 255, 0.39);
            color: #333;
            box-shadow: 0 0 20px rgba(78, 66, 66, 0.384);
            box-sizing: border-box;
            border: solid 2px white;

            &:focus {
                box-shadow: 0 0 0 3px rgba($primary-color, 0.4);
            }
        }

        textarea {
            height: 168px;
            resize: vertical;
        }

        p {
            margin-top: 6px;
            color: red;
            font-size: 14px;
            height: 16px;
        }
    }

    .sucsess {
        display: block;
        width: 100%;
        height: 20px;
        font-size: 16px;
        margin: 20px 0 0;
        color: green;
        text-align: center;
    }

    button {
        display: block;
        margin: 0 auto;
        padding: 12px 30px;
        background-color: rgba(255, 255, 255, 0.39);
        border: solid 2px $backgrund;
        border-radius: 12px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 0 20px rgba(78, 66, 66, 0.384);
        transition: 0.3s ease background-color;
        box-sizing: border-box;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }
}