@import '../../Styles/mixins.scss';
@import '../../Styles/variables.scss';

nav {
    padding: 9px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1111;
    background-color: $backgrund;
    border-radius: 12px;
    transition: all ease 0.3s;
    max-width: 1600px;
    margin: 0 auto;

    &.dark {
        background-color: $dark-bg;
        transition: all ease 0.3s;
    }

    @include respond(lg) {
        align-items: start;
    }

    .logo-holder {
        width: 65px;
        height: 65px;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .links-list {

        @include respond(lg) {
            position: absolute;
            width: 100%;
            left: 0;
            top: -320px;
            transition: all 0.5s;
            z-index: -1;


            &.open {
                top: 83px;
                transition: all 0.5s;
            }
        }

        ul {
            display: flex;
            align-items: center;
            cursor: pointer;

            @include respond(lg) {
                padding-top: 60px;
                padding-bottom: 15px;
                flex-direction: column;
                top: -320px;
                background-color: $backgrund;
                transition: all ease 0.3s;

                &.dark {
                    background-color: $dark-bg;
                    transition: all ease 0.3s;
                }
            }

            li {
                margin-right: 30px;

                @include respond(lg) {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }

            li:nth-child(4) {
                padding: 18px 30px;
                background: $primary-color;
                color: white;
                border-radius: 30px;

                @include respond(lg) {
                    max-width: 80px;
                    margin: 0 auto 20px;
                }
            }
        }
    }
}