/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

nav {
  padding: 9px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  top: 0;
  z-index: 1111;
  background-color: white;
  border-radius: 12px;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  max-width: 1600px;
  margin: 0 auto;
}
nav.dark {
  background-color: #212121;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
@media (max-width: 1024px) {
  nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
nav .logo-holder {
  width: 65px;
  height: 65px;
}
nav .logo-holder img {
  width: 100%;
  height: 100%;
  display: block;
}
@media (max-width: 1024px) {
  nav .links-list {
    position: absolute;
    width: 100%;
    left: 0;
    top: -320px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: -1;
  }
  nav .links-list.open {
    top: 83px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
}
nav .links-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (max-width: 1024px) {
  nav .links-list ul {
    padding-top: 60px;
    padding-bottom: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -320px;
    background-color: white;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  nav .links-list ul.dark {
    background-color: #212121;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
}
nav .links-list ul li {
  margin-right: 30px;
}
@media (max-width: 1024px) {
  nav .links-list ul li {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
nav .links-list ul li:nth-child(4) {
  padding: 18px 30px;
  background: rgb(123, 79, 255);
  color: white;
  border-radius: 30px;
}
@media (max-width: 1024px) {
  nav .links-list ul li:nth-child(4) {
    max-width: 80px;
    margin: 0 auto 20px;
  }
}