@import '../../../Styles/mixins.scss';
@import '../../../Styles/variables.scss';

#menu_checkbox {
    display: none;
}

.label {
    display: none;
    width: 30px;
    height: 30px;
    margin-top: 12px;
    transition: 0.3s ease transform;
    cursor: pointer;

    @include respond(lg) {
        display: block;
    }
}

.label div {
    width: 6px;
    height: 6px;
    background-color: #143240;
    margin-left: 0;
    margin-bottom: 6px;
    border-radius: 4px;
    transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
        0.3s ease background-color;

    &.dark {
        background-color: white;
    }
}

.label div:first-child {
    width: 22px;
}

.label div:nth-child(2) {
    width: 15px;
}

.label div:last-child {
    width: 30px;
    margin-bottom: 0;
}

#menu_checkbox:checked+.label {
    transform: translateY(-50%) rotateZ(-90deg);
}

#menu_checkbox:checked+.label div {
    width: 6px;
    margin-left: 12px;
    margin-bottom: 3px;
    background-color: $primary-color;
}