@import '../../../Styles/variables.scss';
@import '../../../Styles/mixins.scss';

.burger-label {
  display: none;
  flex-direction: column;
  width: 30px;
  cursor: pointer;

  @include respond(lg) {
    display: flex;
  }

  input[type='checkbox'] {
    display: none;

    &:checked ~ span:nth-of-type(1) {
      transform-origin: center;
      transform: rotate(45deg) translate(5.5px, 2.5px);
    }

    &:checked ~ span:nth-of-type(2) {
      transform-origin: center;
      transform: rotate(-45deg);
    }

    &:checked ~ span:nth-of-type(3) {
      transform-origin: center;
      width: 40%;
      transform: rotate(45deg) translate(5px, -11.7px);
    }
  }

  span {
    background: #143240;
    border-radius: 8px;
    height: 4px;
    margin: 3px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    &:nth-of-type(1) { width: 40%; }
    &:nth-of-type(2) { width: 90%; }
    &:nth-of-type(3) { width: 70%; }

    &.dark {
      background-color: white;
    }
  }
}
