/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.footer {
  text-align: center;
  padding: 57px 0 26px 0;
  margin: 0 50px;
  color: white;
  font-size: 12px;
  border-top: 1px solid white;
}