/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.switch-wrapper {
  display: inline-block;
}
.switch-wrapper .switch {
  position: relative;
  height: 29px;
  width: 50px;
  cursor: pointer;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgba(81, 62, 242, 0.277);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-wrapper .switch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: white;
  border: 1px solid rgba(81, 62, 242, 0.527);
  border-radius: 9999px;
  -webkit-box-shadow: 0 3px 10px rgba(81, 62, 242, 0.327);
          box-shadow: 0 3px 10px rgba(81, 62, 242, 0.327);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-wrapper .switch:hover::before {
  -webkit-box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.15);
}
.switch-wrapper .switch:checked {
  background-color: rgb(81, 62, 242);
}
.switch-wrapper .switch:checked::before {
  -webkit-transform: translateX(1.4rem);
      -ms-transform: translateX(1.4rem);
          transform: translateX(1.4rem);
  border-color: rgb(81, 62, 242);
}
.switch-wrapper .switch:checked:hover::before {
  -webkit-box-shadow: 0 0 0px 8px rgba(81, 62, 242, 0.15);
          box-shadow: 0 0 0px 8px rgba(81, 62, 242, 0.15);
}